* {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.main-header{
	height: 50px;
	background-color: white;
	display: flex;
	justify-content: center;
	box-shadow: 0px 2px 10px 1px rgb(0, 0, 0, 0.5);
}

.content-header li{
	font-weight: bold;
	margin-top: 16px;
	padding-left: 10px;
	display: inline-block;
}
.content-center{
	display: flex;
	margin-top: 10px;
/*	background-color: red;*/
/*	margin: 0 auto;*/
	justify-content: center;
}

.content-footer {
	display: flex;
}

.tuyenthu span {
	position: relative; 
	top: -73%; 
	left: 126%;
	font-weight: bold;
}
.tuyenthu h5 {
	font-size: 16px;
	position: relative; 
	top: -73%; 
	left: 79%;
	font-weight: bold;
}
.tuyenthu h4 {
	position: relative; 
	top: -73%; 
	left: 83%;
/*	font-size: 16px;*/
	font-weight: bold;
}
.chelsea span{
	position: relative; 
	top: -102px; 
	left: 3%;
}
.box-1 {
	position: relative;
	top: 10%;
}
.duongDoc{
	position: absolute;
	top: 50%;
	left: 31.5%;
	height:260px;
	width: 1px;
	background-color: black;
	opacity: 10%;
}
.duongDoc1 {
	position: absolute;
	top: 50%;
	left: 64.6%;
	height:260px;
	width: 1px;
	background-color: black;
	opacity: 10%;
}